modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Preview HTML"
author = 41753977
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 -m http.server 3000 --directory client/public"

[[workflows.workflow]]
name = "Preview Audio Generator"
author = 41753977
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 -m http.server 8000 --directory client/public"

[[ports]]
localPort = 5000
externalPort = 80
